<h1>Subject: <%= subject %></h1>

<h2 class="subheader">Brain Mask</h2>
<div class="row">
  <img src="<%= brain_axial_pic %>" alt="subject brain mask" class="six columns">
  <img src="<%= brain_sagittal_pic %>" alt="subject brain mask" class="six columns">
</div>

<!-- TOOD: add some kind of line break -->

<h2 class="subheader">Motion</h2>
<div class="row">
  <img src="<%= motion_pic %>" alt="subject brain mask" class="twelve columns">
</div>

<hr />