<h1>Subject: <%= subject %></h1>

<h2 class="subheader">Flirt</h2>
<div class="row">
  <img src="<%= regprefix %>_flirt.png" alt="subject flirt" class="twelve columns">
</div>

<!-- TOOD: add some kind of line break -->

<h2 class="subheader">Fnirt</h2>
<div class="row">
  <img src="<%= regprefix %>_fnirt.png" alt="subject fnirt" class="twelve columns">
</div>

<hr />