<h1>Subject: <%= subject %></h1>

<h2 class="subheader">CSF</h2>
<div class="row">
  <img src="<%= csf_mask.rmext %>_pic.png" alt="subject csf" class="twelve columns">
</div>

<!-- TOOD: add some kind of line break -->

<h2 class="subheader">WM</h2>
<div class="row">
  <img src="<%= wm_mask.rmext %>_pic.png" alt="subject wm" class="twelve columns">
  <img src="<%= wm_edge.rmext %>_pic.png" alt="subject wm (edge)" class="twelve columns">
</div>

<hr />