<h1>Subject: <%= subject %></h1>

<h2 class="subheader">Func => T1 (Initial)</h2>
<div class="row">
  <img src="<%= func2higres %>_initial_pic.png" alt="subject func2highres" class="twelve columns">
</div>

<h2 class="subheader">Func => T1 (BBReg)</h2>
<div class="row">
  <img src="<%= func2highres %>_pic.png" alt="subject func2highres bbreg" class="twelve columns">
</div>

<h2 class="subheader">Func => Standard</h2>
<div class="row">
  <img src="<%= func2standard %>_pic.png" alt="subject func2standard" class="twelve columns">
</div>

<hr />